# .env example
# Copy this file to .env and fill in the values to run the app

NODE_ENV=
COMPOSE_PROJECT_NAME=

# Production
DATABASE_URL=

# Development
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=